.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #009634e0;
  border: 1px solid #009634e0;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #00c746e0;
  border-color: #00c746e0;
}
